:root{
  --accent-color:#28a745;
  --primary-text-color:#333333;
  --secondary-text-color:#ffffff;
  --main-hero-color:#e9e9e9;
  --input-text-color:#808080;
  --primary-white-color:#ffffff;
  --main-font-family:'Open Sans', sans-serif;

}

body{
 font-family:  var(--main-font-family);
 color: var(--primary-text-color);
 background-color: var(--primary-white-color);
 font-size: 18px;
}
/*utils*/
.link{
  text-decoration: none;
}
.list{
  list-style: none;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.header{
  background-color: #5e5e5e;

}
.header-nav__link{
  
  line-height: 1.56;
  color: var(--secondary-text-color);
}

.logo{
font-weight: 400;
font-size: 35px;
line-height: 1.21;

color: var(--secondary-text-color);
}
.logo__img{
  margin-right: 10px;
}
.accent{
  color: var(--accent-color);
}

/*hero*/
.hero__title{
font-weight: 300;
font-size: 55px;
line-height: 1.20;

text-align: center;

color: var(--main-hero-color);

}
.hero__description{

font-size: 22px;
line-height: 1.67;

text-align: center;

color: var(--main-hero-color);
}

.button{
  padding:10px 30px ;
font-family: inherit;
font-style: normal;

font-size: 18px;
line-height: 1.56;

text-align: center;

color: var(--secondary-text-color);
background-color: var(--accent-color);
border-radius: 5px;
border: none;

}

/*about*/
.about__subtitle{
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
 
  text-align: center; 
}

.about__text{

line-height: 1.56;

text-align: center;

}

/*solutions*/

