.hero__title{
  font-weight: 300;
  font-size: 55px;
  line-height: 1.20;
  
  text-align: center;
  
  color: var(--main-hero-color);
  
  }
  .hero__description{
  
  font-size: 22px;
  line-height: 1.67;
  
  text-align: center;
  
  color: var(--main-hero-color);
  }
  